dspy-ai
langchain 
openai 
weaviate-client 
ragas
sentence-transformers
langchain_mistralai
Dataset
mistral_inference
langchain_openai
pinecone-client
pypdf
transformers 
torch
langchain_community
langchain_pinecone
pinecone-notebooks
langchain_weaviate
pdfminer.six
langchain-huggingface
llmlingua
accelerate
langgraph
scikit-learn
numpy==1.23.5
PyPDF2
